/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

body {
  background: lightslategrey;
  background: url("../images/wallpaper2.jpeg");
  background-attachment: fixed;

}

@media (max-width: 640px) {
  div#todocont {
    width: 90%;
  }
}

div#todocont {
  width: 50%;
  margin: 0 auto;
}

main.container{
  width: 50%;
  margin: 2em auto;
}

span {
  font-size: 1.7em;
  font-weight: bold;
  position: relative;
  float: left;
}

#catlogo {
  width: 2em;
  margin: 0 auto;
  float: left;
}

form {
  padding: 0 1em 1em 1em;
}

.nav-wrapper {
  background: lightsteelblue;
  text-align: center;
  border-bottom: 1px solid aliceblue;
}

.new-todo {
  background: aliceblue;
  border: 2px solid black;
  border-radius: 5px;
}

.todolist {
  position: relative;
  left: 4%;
  top: -1em;
  margin-left: 15%;
  width: 103.5%;

}

.new-todo h2 {
  font-size: 1.5em;
  text-align: center;
}

.collapsible {
  margin: 1em auto;
}

.collapsible-body {
  font-size: 95%;
}

.collapsible-body img{
  height: 2em;
  width: 2em;
  margin: 0 0 0 1em;
  vertical-align: middle;
}

#newTodoText {
  resize: none;
}

.catcard {
  margin-bottom: 5%;l
  height: 2em;
}

#buybutton {
  border: 2px solid black;
  font-size: 1.70em;
  background: mediumseagreen;
  margin: 0 auto;
  text-align: center;
}

#eatbutton {
  border: 2px solid black;
  font-size: 1.70em;
  background: coral;
  margin: 0 auto;
  text-align: center;

}

#readbutton {
  border: 2px solid black;
  font-size: 1.70em;
  background: hotpink;
  margin: 0 auto;
  text-align: center;

}

#watchbutton {
  border: 2px solid black;
  font-size: 1.70em;
  background: cornflowerblue;
  margin: 0 auto;
  text-align: center;
}

#miscbutton {
  border: 2px solid black;
  font-size: 1.70em;
  background: gold;
  margin: 0 auto;
  text-align: center;
}

.dropdown-button {
  float:  right;
}

#loginButton {
  margin-left: 1em;
}

body ul.collapsible {
  position: relative;
}
