body {
  margin: 0;
  background: lightslategray;
}

main section {
    border-radius: 5px;
    background-color: #dddddd;
    margin: 2em;
    padding: 1em 1em 2em 1em;

}

main textarea {
  resize: vertical;
  width: 100%;
}

.todo-list {
  border: 2px solid black;
  margin: 1em 25% 1em 25%;
  background: #dddddd;
  border-radius: 5px;

}

.nav-bar {
  background-color: lightsteelblue;
  width: 100%;
  z-index: 3;
  height: 4em;
  text-align: right;
}

.new-todo {
  margin: 2em 10%;
  background-color: aliceblue;
}
