#mainLogo {
  width: 70%;
  float: left;
}

.homePageRegister {
  border: 1px solid black;
  margin-top: 2em;
  padding-bottom: 1.5em;
    width: 27%;
    float: right;
    height: 7.75em;

}

.homePageLogin {
  border: 1px solid black;
  padding-bottom: 1.5em;
  width: 27%;
  float: right;
  height: 5em;
}

#loginButton {
float: right;
margin-right: 1em;
}

#registerButton {
float: right;
margin: -1em 1em;
}
